<div class="separador-footer"></div>
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Podes pagar en cuotas sin interés con tarjeta o en efectivo. 
                        ¡Y siempre es seguro!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Coordinamos la entrega</h2>
                    <p>Una vez realizada la compra, coordinamos la entrega segura de tu torta.</p>
                </article>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <article class="footer-data-nombres">
                <h2>Integrantes</h2>
                <p>Martina Scarfoni - Clara Battaglia - Lucía García</p>
            </article>
        </div>
    </div> 
</footer>