<div class="separador-footer"></div>
<footer class="main-footer">
    <div class="container">
        
            
            </div>
        </div>
        <div id="footer-flex" class="col-12 col-lg-4">
            <article class="footer-data-nombres">
                <h2>Integrantes</h2>
                <p> - Martina Scarfoni - Clara Battaglia - Lucía García Bes</p>
            </article>
           
        </div>
    </div> 

</footer>