<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/loguito2.png" />
	
	<title> Clamalú </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/css/app.css">
	<link rel="stylesheet" href="/stylesheets/css/formularios.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Changa+One&family=Comfortaa:wght@500&display=swap" rel="stylesheet">


<body>
	<!-- Header -->
	<header class="main-header">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-5 col-md-2">
					<a href="/" class="main-header_home-link"> <!-- href cambiar-->
						<img src="/images/logo3.png">
					</a>
				</div>
	
				<div class="col-7 col-md-6">
					<form action="/productos/searchResult" method="GET" class="search-form">  
						<input type="text" name="search" placeholder="Buscar tortas, gustos y más" class="search-form_input">
						<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
					</form>
				</div>
	
				
					<div class="col-12 col-md-4">
						<div class="">
						<form action="/users/searchResultUsuarios" method="GET" class="search-form">
						
							<input type="text" name="search" placeholder="Buscar perfiles" class="search-form_input">
							<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
						</form>
					</div>
						
				</div>
			</div>
	
			<button class="btn-toggle-navbar">
				<i class="fas fa-bars"></i>
			</button>


			<!-- Buscador -->
			<nav class="main-navbar">
				<ul class="left-navbar">
					<li><a href="/">Todos los productos</a></li> <!-- href cambiar-->
				</ul>
	
				<ul class="right-navbar">
					<li>
						<a href="/register">Creá tu cuenta <i class="far fa-address-card"></i> <!-- href cambiar-->
						</a>
					</li>
					<li>
						<a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a> <!-- href cambiar-->
					</li>
				</ul>
			</nav>
		</div>
	</header>

