<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/headerLogueado.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			

			<form class="formRegister" action="/users/profile" method="GET">
				<label class="label" for="Imagen">Imagen:</label>
				<input class="input" type="file" id="imagen" name="imagen"><br>
			  
				<label class="label"  for="Nombre del producto"> Nombre del producto:</label>
				<input  class="input" type="text" id="nombreProducto" name="nombreProducto"><br>
			  
				<label class="label"  for="Descripción">Descripción:</label>
				<input class="input"  type="text" id="descripcion" name="descripcion"><br>
			  
				<label class="label"  for="Fecha de carga">Fecha de carga:</label>
				<input  class="input" type="date" id="fecha" name="fecha"><br>
			  
				<input class="submit" type="submit" value="Enviar">
			  </form>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>