<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<% if (locals.usuarioLogueado != undefined) { %>
	<%- include("./partials/headerLogueado.ejs") %>
<% } else { %>
	<%- include('./partials/headerNoLogueado.ejs') %>
<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<form class="formRegister" action="/users/profile/id/<%=locals.usuarioLogueado.id  %>" method="POST">
				<label class="label" for="usuario"> Usuario:</label>
				<input  class="input" type="text" id="usuario" name="usuario" value=""  ><br>
			  
				<label class="label"  for="Contraena">Contrase침a:</label>
				<input class="input"  type="password" id="contrase침a" name="contrase침a" value=""><br>
			  
				<label class="label"  for="Fecha de nacimiento">Fecha de Nacimiento:</label>
				<input  class="input" type="date" id="fecha_nacimiento" name="fecha_nacimiento" value= ""><br>
			  
				<label class="label"  for="Nro de documento">Nro de Documento:</label>
				<input  class="input" type="text" id="nro_documento" name="nro_documento" value="" ><br>
			  
				<label class="label"  for="Foto de perfil">Foto de Perfil:</label>
				<input  class="input" type="text" id="foto_perfil" name="foto_perfil"  value=""><br>
			  
				<input class="submit" type="submit" value="Actualizar informaci칩n">
			  </form>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>