<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<% if (locals.usuarioLogueado != undefined) { %>
	<%- include("./partials/headerLogueado.ejs") %>
<% } else { %>
	<%- include('./partials/headerNoLogueado.ejs') %>
<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			

			<form class="formRegister" action="/register" method="post">
				<label class="label"  for="email">Email:</label>
				<input class="input" type="email" id="email" name="email"><br>
			  
				<label class="label" for="usuario"> Usuario:</label>
				<input  class="input" type="text" id="usuario" name="usuario"><br>
			  
				<label class="label"  for="Contrasena">Contraseña:</label>
				<input class="input"  type="password" id="contraseña" name="contraseña"><br>
			  
				<label class="label"  for="Fecha de nacimiento">Fecha de Nacimiento:</label>
				<input  class="input" type="date" id="fecha_nacimiento" name="fecha_nacimiento"><br>
			  
				<label class="label"  for="Nro de documento">Nro de Documento:</label>
				<input  class="input" type="number" id="nro_documento" name="nro_documento"><br>
			  
				<label class="label"  for="Foto de perfil">Foto de Perfil:</label>
				<input  class="input" type="text" id="foto_perfil" name="foto_perfil"><br>
			  
				<input class="submit" type="submit" value="Enviar">
			  </form>



	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->
</body>

</html>