/* Estilo para el formulario */
.formRegister {
    background-color: #faf2f8;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 700px;
  }
  
  /* Estilo para las etiquetas */
  .label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
  }
  
  /* Estilo para los campos de entrada */
  .input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Estilo para el botón de enviar */
  .submit {
    background-color: #b968a6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
  }
  
  /* Estilo para el botón de enviar al pasar el cursor */
  .submit:hover {
    background-color: #c492d4;
  }

  #recordarme.input{
    text-align: left;
  }
  
  
  
  